@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Anton&family=Bitcount+Grid+Double:wght@100..900&family=Gloock&family=IBM+Plex+Sans+Devanagari:wght@100;200;300;400;500;600;700&family=Iceland&family=Imprima&family=Inconsolata:wght@200..900&family=Instrument+Serif:ital@0;1&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kalnia:wght@100..700&family=LXGW+Marker+Gothic&family=Lalezar&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=M+PLUS+1+Code:wght@100..700&family=Matangi:wght@300..900&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Bubbles&family=Sacramento&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

.button1{
  z-index: 5;
  width: 35rem;
  height: 4rem;
  background-color: white;
  color: black;
  font-family: 'source code pro', sans-serif;
  border-radius: 35px;
  font-size: 20px;
  padding: 10px;
  box-shadow:
  0 0 8px rgba(0, 0, 0, 0.6);
transition: box-shadow 0.3s ease, transform 0.2s ease;
position: absolute;
top: -8rem;
  left: 50%;
  transform: translateX(-50%);
}

.main{
  position: absolute;
  top: 48rem;

}




.glowText {
  color: white;
  font-family: 'audiowide', sans-serif;
  line-height: 50px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -2rem;
  -webkit-text-stroke: 1px black;
}

.button1:hover{
  cursor: pointer;
  box-shadow:
    0 0 12px rgba(0, 0, 102, 0.8);

}

.button:active{
  background-color: #330033
}

@media (max-width: 768px) {
  .button1 {
    width: 10rem;
    height: 3rem;
    font-size: 16px;
    top: 10rem;
  }

  .main {
    top: auto;
  }

  .glowText {
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 1rem;
    margin-top: -1rem;
  }
}
