.mainnn{
  background-image: url('/assets/avengers2.jpg');
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main2{
  height: 100vh;
}

@media (max-width: 768px) {
  .mainnn,
  .main2 {
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
}
